fastapi==0.104.1 # Web framework
uvicorn==0.24.0 # ASGI server
pydantic==2.4.2 # Data validation and serialization
python-dotenv==1.0.0 # Environment variable loading
python-multipart==0.0.9 # Multipart/form-data parsing
sqlalchemy==2.0.23 # ORM for database interaction

# To run the server:
# uvicorn app.main:app --reload

# To access the documentation:
# http://127.0.0.1:8000/docs